{
	email ishantagarwala@gmail.com
	servers {
		protocols h1 h2
	}
}

careerpilot.cc {
	encode gzip zstd
	reverse_proxy web:3000 {
		header_up Host {host}
		header_up X-Forwarded-Host {host}
		header_up X-Forwarded-Proto {scheme}
		header_up X-Forwarded-For {remote_host}
	}
}

www.careerpilot.cc {
	redir https://careerpilot.cc{uri} permanent
}

http://REDACTED-VPS-IP {
	redir https://careerpilot.cc{uri} permanent
}
